<script
    src="https://embed.corolair.com/widget/widget.js"
    data-name="COROLAIR_EMBED"
    data-sidepanel="{{sidepanel}}"
    data-animate="{{animate}}"
    data-moodle-options="{{moodleoptions}}"
></script>
