<script
    src="https://embed.corolair.com/widget/widget.js"
    data-name="COROLAIR_EMBED"
    data-tutor-id="{{tutorId}}"
    data-participant-id="{{participantId}}"
    data-sidepanel="{{sidepanel}}"
    data-animate="{{animate}}"
></script>
