<script
    src="https://embed.corolair.dev/widget/widget.js"
    data-name="COROLAIR_EMBED"
    data-tutor-id="{{tutorid}}"
    data-participant-id="{{participantid}}"
    data-sidepanel="{{sidepanel}}"
    data-animate="{{animate}}"
></script>
