<iframe id='corolair-iframe'
    src='https://embed.corolair.com/troubleshoot/moodle?siteUrl={{siteUrl}}&siteName={{siteName}}&isWebServiceEnabled={{isWebServiceEnabled}}&isRestProtocolEnabled={{isRestProtocolEnabled}}&isCorolairServiceExist={{isCorolairServiceExist}}&isTokenExist={{isTokenExist}}&userEmail={{userEmail}}&userFirstname={{userFirstname}}&userLastname={{userLastname}}&tokenValue={{tokenValue}}'>
</iframe>
