<iframe id='corolair-iframe'
    src='https://quiz.corolair.dev/auth?email={{email}}&apiKey={{apiKey}}&firstName={{firstName}}&lastName={{lastName}}&moodleUserId={{moodleUserId}}&courseId={{courseId}}&corolairQuizId={{corolairQuizId}}&view=student'>
</iframe>
